@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(./Tooltip.css);

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
.shadow {
  box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.08);
}
.tab {
  clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
}
.hashnode-blog-demo * {
  font-family: "Inter", sans-serif;
}
.transition-500 {
  transition: 0.5s;
}
.gradient {
  background: linear-gradient(to right, #fdb99b, #cf8bf3, #a770ef);
}
.glassmorphism {
  background: #ffffff8c;
  backdrop-filter: blur(4px);
  border: 1px solid #ffffff2e;
}

/* Toggle B */
#toggleB:checked ~ .dot {
  transform: translateX(100%);
  background: linear-gradient(to bottom, #fdb99b, #cf8bf3, #a770ef);
}
.component:hover {
  border: 1px solid #4286f4;
  z-index: 10;
}

.continuous-1 {
  background: linear-gradient(currentColor 0 0) var(--d, 201%) 100% /200% 1px no-repeat;
  transition: 0.5s;
}
.continuous-1:hover {
  --d: -101%;
}
